/ {
    chosen {
        zmk,kscan = &kscan_composite;
    };

    kscan0: kscan_matrix_old {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        col-gpios
            = <&gpio0 11 GPIO_ACTIVE_LOW>
            , <&gpio0 24 GPIO_ACTIVE_LOW>
            , <&gpio1 0  GPIO_ACTIVE_LOW>
            , <&gpio0 22 GPIO_ACTIVE_LOW>
            , <&gpio0 20 GPIO_ACTIVE_LOW>
            ;
        row-gpios
            = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Pull-up
            , <&gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    kscan1: kscan_matrix_new {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        
        col-gpios
            = <&gpio0 29 (GPIO_ACTIVE_LOW>
            , <&gpio0 31 (GPIO_ACTIVE_LOW>
            , <&gpio0 2  (GPIO_ACTIVE_LOW>
            , <&gpio0 9  (GPIO_ACTIVE_LOW>
            , <&gpio1 11 (GPIO_ACTIVE_LOW>
            ;
            
        row-gpios
            = <&gpio1 15 GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpio1 13 GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    kscan_composite: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <6>;
        columns = <5>;

        matrix_old {
            kscan = <&kscan0>;
        };

        matrix_new {
            kscan = <&kscan1>;
            row-offset = <4>;
        };
    };
};
