#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp 1   &kp 2     &kp 3     &kp 4     &kp 5
                &kp TAB   &kp Q     &kp W     &kp E     &kp R
                &kp LSHFT &kp A     &kp S     &kp D     &kp F
                &kp LCTRL &kp LALT  &kp SPACE &kp M     &kp ENTER
            >;
        };
    };
};
